<html>
  <head>
    <title>Rubyyot</title>
    <style type="text/css">
      body {
	background-color:#EEEEEE;
	color:#FF0000;
	font-family:arial, sans-serif;
	font-size:12px;
	margin-top:2px;
	margin-left:2px;
	margin-right:2px;
	margin-bottom:2px;
      } 

      a:link {color:#990000} 

      a:visited {color:#660000} 

      a:hover {color:#CC0066} 

      a:active {color:#FF3333} 

    </style>
  </head>
  <body>
    <h2>Rubyyot.com is going through changes</h2>
    <p>If you are looking for my blog you can find it <a href='http://blog.rubyyot.com'>here</a></p>
  
    <h3>Latest Updates</h3>

    <%= items_html %>

  </body>
</html>