<style type="text/css">

body {
 background-color:#FFFFFF;
 color:#000000;
 font-family:arial, sans-serif;
 font-size:12px;
 margin-top:2px;
 margin-left:2px;
 margin-right:2px;
 margin-bottom:2px;
} 

a:link {color:#990000} 

a:visited {color:#660000} 

a:hover {color:#CC0066} 

a:active {color:#FF3333} 

</style>